.title{
    padding-bottom: 400px;
}

.center{
    height : 1000px;
    margin : 0px 500px;
    background-color: orange;
}

.createPost{
    position: absolute;
    bottom : 800px;
    right: 370px;
    width: 100px;
}

.postbtn{
    background-color : yellow;
    border : solid;
    border-color : black;
}

.sortBtn {
    
    background-color : yellow;
    border : solid;
    border-color : black;

}

.dropSort {
    background-color :  yellow;
    border : solid;
    border-color : black;
}

.table {
    margin-left : -200px;
    padding-top : 20px;
    border-collapse: separate;
    border-spacing: 700px 0px;
  }

  .dropdown{
      padding-top : 0.3%;
    padding-left : 9%;
  }

  .welcome {
      margin-top : 10px;
  }

  .sortHeader{
    text-align: center;
  }

  .postbtn{
      margin-top : 20px;
  }


  .top{
    display: inline-block;
}

.makeAPost{
    right : 25.9%;
    top : 140px;
    position : absolute;
}

  